<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggled()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <a class="navbar-brand px-4" href="#"> Header and SideNav</a>

  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> Menu 1</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Child 1</a></li>
          <li><a class="dropdown-item" href="#">Child 2</a></li>
          <li><a class="dropdown-item" href="#">Child 3</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> Menu 2</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Child 1</a></li>
          <li><a class="dropdown-item" href="#">Child 2</a></li>
          <li><a class="dropdown-item" href="#">Child 3</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <form class="d-flex">
    <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>